@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin: 30px 10%;
    background-color: blueviolet;
    padding: 20px;
    border-radius: 20px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.item{
    height: 100px;
    width: 100px;
    background-color: white;
    margin: 8px;
    border-radius: 12px;
    text-align: center;
    font-size: 44px;
    padding: 10px;
    font-weight: bolder;
}

/* google fi components */
.fi-container{
    margin: 30px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img-res{
    width: 100%;
}
.w-50{
    width: 500px;
}
.btn{
    border:1px solid #1a73e8;
    border-radius: 4px;
    padding: 8px 24px;
    color:#1a73e8;
    text-decoration: none;
}
.cta-btn{
    border:1px solid #1a73e8;
    border-radius: 4px;
    padding: 8px 24px;
    background-color:#1a73e8;
    color:white;
    text-decoration: none;
}
.title{
    font-size: 42px;
}
.fi-cards{
    box-shadow: 0 0 10px lightgray;
    border-radius: 12px;
    width: 400px;
    padding: 12px;
    text-align: center;
    margin: 12px;
}
.small{
    color: gray;
    font-size: 12px;
    margin-bottom: 0;
}
.fi-title{
    margin-top: 0;
}
.my-10{
    margin-top: 20px;
    margin-bottom: 20px;
}
.my-20{
    margin-top: 40px;
    margin-bottom: 40px;
}
.cta-card{
    border:1px solid lightgray;
    text-align: center;
    padding: 20px 0;
    border-radius: 12px;
    width: 900px;
}
.bt-gray{
    border-top: 1px solid lightgray;
    margin-bottom: 60px;
    margin-top: 60px;
}
.mt-40{
    margin-top: 40px;
}