.container{
    margin: 0 6%;
}

.text-center{
    text-align: center;
}

.btn{
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 36px;
    font-size: 16px;
    cursor: pointer;
}
.mt-5{
    margin-top: 80px;
    
}
.mt-1{
    margin-top: 20px;
}
.title{
    font-weight: bolder;
    font-size: 46px;
    margin-bottom: 0;
}
.desc{
    font-size: 18px;
    color: gray;
    margin: 8px;
}
.nf{
    margin-top: 70px;
    height: 200px;
}