@font-face {
    font-family: "Google Sans Display";
    font-style: normal;
    font-weight: 400;
    src: local("Google Sans Display Regular"),
        local("GoogleSansDisplay-Regular"),
        url(https://fonts.gstatic.com/s/googlesansdisplay/v14/ea8FacM9Wef3EJPWRrHjgE4B6CnlZxHVDv79oQ.woff2)
            format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

$font-family-base: "Google Sans Display", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
    $card-border-radius:10px;



@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import '../node_modules/bootstrap/scss/bootstrap-utilities.scss';